section {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    position: relative; 
    margin: 20px auto; 
    background: #f8f9fa;
    overflow: hidden; 
}

button {
    position: absolute;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    z-index: 10; 
}

.button1 {
    top: 350px;
    left: 90px;
    background: #e74c3c; 
}

.button1:hover {
    background: #c0392b;
}

.button1:disabled,
.button2:disabled{
    opacity: 0.5;
    cursor: not-allowed
}

.button2 {
    top: 350px;
    left: 210px;
    background: #2ecc71; 
}

.button2:hover {
    background: #27ae60;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover
}

section div {
    width: 150px;
    height: 100px;
    position: absolute;
    top: 150px;
    left: 125px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.1s;
       user-select: none;
    -webkit-user-select: none;  
    -moz-user-select: none;  
    -ms-user-select: none;  
    cursor: grab; 
}

 body div {
    width: 150px;
    height: 100px;
    margin:  auto;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.1s;
       user-select: none;
    -webkit-user-select: none;  
    -moz-user-select: none;  
    -ms-user-select: none;  
    cursor: grab; 
}

.sizeBtn {
    position: absolute;
    background-color: transparent;
    width: 4px;
    height: 4px;
    border: none;
    bottom: -1px;
    right: -1px;
    padding: 0;
    border-radius: 1px;
    cursor:se-resize;
}


.sizeBtn:hover {
    background-color: white;
    border: 0.5px solid black;
}

.sizeInfo{
    font-size: 16px;
    width: 180px;
    height:50px;
    text-align: center;
}

.size-slider{
    display:block;
}

.slider-value{

}

.sliderBox{
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    justify-content: center
}